div {
    background-color: white;
    border-radius: 2.5rem 2.5rem 0 0;
    overflow: hidden;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    color: #ff4010;
    line-height: 2.25rem;
    padding-bottom: .625rem;
    font-family: 'Aeonik Medium',Helvetica,Arial,Lucida,sans-serif;
    margin: 2rem 1rem 5rem 1rem;

}