$primary-color: grey; // White text color
$secondary-color: white; // Accent color
$background-color: #000000; // Black background
$card-background: rgba(255, 255, 255, 0.1);

.section-1-wrapper {
  position: relative;
  color: $primary-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  padding: 2rem;
  text-align: center;
  background-image: url('../images/sec1images/sec1-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mission-statement {
  text-align: left;
}

.section-1-header {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: $secondary-color;
}

@media (min-width: 50em) {
  .mission-statement {
    max-width: 45%;
    text-align: left;
    margin-left: 15rem;
  }

  .mission-steps { 
    flex-direction: row; 
  }

  .section-1-header{
    font-size: 4rem;
    line-height: 5rem;
  }
}

.mission-steps {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-top: 10rem;
}

.description {
  font-size: 1.1rem;
  line-height: 1.5;
}

b {
  color: $secondary-color; // Highlight important text in orange
}

li {
  font-size: 1rem;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;

li {
  font-size: 0.5rem;
  text-transform: uppercase;
  color: $secondary-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
  }
}

p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 1.5rem;
  width: calc(25% - 1rem);
  min-width: 250px;
  text-align: center;
}

p {
  font-size: 0.95rem;
  line-height: 1.4;
}

 



