$primary-color: grey; 
$secondary-color: white; 
$background-color: #000000; 

html {
  scroll-behavior: smooth;
}

.section-1-wrapper {
  position: relative;
  color: $primary-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 10rem;
  text-align: center;
  background-image: url('../images/sec1images/sec1-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mission-statement {
  text-align: left;
}

.section-1-header {
  font-size: 3rem;
  margin-top: 15rem;
  color: $secondary-color;
}

.list-icon {
  padding-right: 1rem;
}

.mission-steps {
  font-size: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem;
  margin-top: 5rem;
}

.mission-text {
  margin-top: 10rem;
  text-align: left;
  font-size: 1.5rem;
}

// @media (max-width: 20em) {
//   .card-start {
//   border-top-left-radius: 0.5rem;
//   border-top-right-radius: 0.5rem;
//   }

//   .card-end {
//     border-bottom-right-radius: 0.5rem;
//     border-bottom-left-radius: 0.5rem;
//   }
// }

// @media (min-width: 30em) and (max-width: 40em) {
//   .card-start {
//     border-top-left-radius: 0.5rem;
//   }
  
//   .card-mid-1 {
//     border-top-right-radius: 0.5rem;
//   }

//   .card-mid-2 {
//     border-bottom-left-radius: 0.5rem;
//   }

//   .card-end {
//     border-bottom-right-radius: 0.5rem;
//   }
// }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
  overflow: hidden;
}

.card {
  padding: 1.5rem; 
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  text-align: center;
}


@media (min-width: 70em) {

  .mission-statement {
    max-width: 45%;
    text-align: left;
    margin-left: 12rem;
  }

  .mission-steps { 
    flex-direction: row; 
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-bottom: 20rem;
  }

  .section-1-header{
    font-size: 3.5rem;
    line-height: 5rem;
  }

  .mission-text {
    margin-left: 12rem;
    margin-right: 12rem;
  }

  .cards {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .card {
    width: calc(25% - 1rem);
  }

  .card-start {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
    
  .card-end {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

b {
  color: $secondary-color; 
}

.mission-list {
  text-transform: uppercase;
  color: $secondary-color;
  }


.card-text {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

b {
  color: $secondary-color;
}




